

            <h1>Account Management</h1>

            <% if (notice.length> 0) { %>
                <div class="flash-message success">
                    <%= notice %>
                </div>
                <% } %>

                    <% if (errors.length> 0) { %>
                        <div class="flash-message error">
                            <%= errors[0] %>
                        </div>
                        <% } %>

                            <p>You're logged in.</p>
    