<h1>Change Password</h1>

<% if (notice && notice.length > 0) { %>
  <div class="form-success">
    <p><%= notice[0] %></p> 
  </div>
<% } %>

<% if (errors && errors.length > 0) { %>
  <div class="form-errors">
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg || error %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<main class="form-container">
  <form action="/account/update-password/<%= accountData.account_id %>" method="POST" class="registration-form">
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <label for="account_password">New Password</label>
    <input type="password" id="account_password" name="account_password" required placeholder="Enter new password"
      minlength="12" 
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      title="Password must be at least 12 characters, contain 1 uppercase letter, 1 number, and 1 special character" />

    <div class="password-toggle">
      <label for="togglePassword">Show Password</label>
      <input type="checkbox" id="togglePassword" />
    </div>

    <button type="submit">Change Password</button>
  </form>

  <script src="/js/showPassword.js"></script>
</main>