<h1>Change Password</h1>

<% if (notice && notice.length > 0) { %>
  <div class="form-success">
    <p><%= notice %></p>
  </div>
<% } %>

<% if (errors && errors.length > 0) { %>
  <div class="form-errors">
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg || error %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<form action="/account/update-password" method="POST" class="form-container">
  <label for="password">New Password</label>
  <input type="password" id="password" name="password" required placeholder="Enter new password" minlength="12" />

  <label for="confirm_password">Confirm Password</label>
  <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm new password" minlength="12" />

  <button type="submit">Change Password</button>
</form>
