<div id="hero">
    <h1>Welcome to CSE Motors</h1>
    <div id="info-hero">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button type="button">Open Today</button>
    </div>
</div>
<div id="review">
<h2>DMC Delorean Review</h2>
<ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!." (5/5)</li>
    <li>"The most futuristic rido of our day." (4.5/5)</li>
    <li>"80's livin and I love it!." (4/5)</li>
</ul>
</div>
<div id="upgrade">
    <h2>Delorean Upgrades</h2>
    <div id="cards-container">

    </div>
</div>
<% script = `
    <script src="/public/js/upgrades.json">
    </script>
` %>

