/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*header*/
#top-header{
  display: flex;
  background-color: white;
  padding: 1rem;
  align-items: center;
}
#top-header a{
  color: black;
  text-decoration: none;
}

#tools{
  margin-left: auto
}

/*Navigation*/
nav{
  background-color: black;
  padding: 1rem;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav li{
  color: white;
}

/*Main*/
#hero{
  height: 325px;
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: auto 175px;
  background-position: center;
}

#hero h1{
  padding: 1rem 0;
}

#info-hero{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2rem 0  0 1rem;
  color: #0492d9;
  background-color: rgba(255, 255, 255, 0.5);
}

#info-hero ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}

#info-hero h2{
  font-size: larger;
}

#info-hero button{
  width: 80%;
  padding: 0.5rem;
  background-color: #0492d9;
  border-style:outset;
  border-color: white;
  font-weight: bold;
  font-size: small;
}

/*Review*/
#review ul{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 1.5rem;
  gap: 1rem;
}

/*Upgrades*/
#cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#cards-container a{
  text-align: center;
}

#cards-container img{
  padding: 1rem;
  background-color: #0492d9;
  height:100px;
  width: 100%;
  object-fit: contain;
  border: solid 2px black;
}

.upgrade-card{
  display: flex;
  flex-direction: column;
  
}

