<div class="addClass-container">
    <form id="adddClassForm" action="/inventory/add-classification" method="post">
        <input type="text" name="classification" placeholder="classification" required />
        <button type="submit">Add</button>
    </form>
</div>
