<h1>
    <%= title %>
</h1>

<div class="inv_menu">
    <a href="/inv/add-classification" id="new_class">Add new classification</a>
    <a href="/NewInventory" id="new_inventory">Add new inventory</a>
</div>
